@font-face {
    font-family: 'SEVEN';
    src: url('./assets/fonts/seven_segment/Seven\ Segment.ttf');
}

body {
    align-self: center;
    background-color: #0D1828;
    display: inline;
    justify-content: center;
    margin: 0;
    min-width: 100vw;
    width: 100vw;
}

#game-board {
    background-color: bisque;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    height: 90vmin;
    width: 100vmin;
}

#score {
    color: white;
    font-family: 'SEVEN';
    font-size: larger;
    text-align: center;
}

.snake {
    background-color: darkcyan;
    border: .25vmin solid black;
}

.food {
    background-color: darkgoldenrod;
    border: .25vmin solid black;
}

.controls {
    color: white;
    display: grid;
    gap: 10px 10px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(7, 1fr);
}
#up {
    background-image: url('./assets/img/up.jpg');
    background-size: cover;
    color: black;
    grid-column-start: 4;
    grid-row-start: 4;
    grid-column-end: 5;
    grid-row-end: 5;
    height: 60px;
    text-align: center;
    width: 60px;
}
#down {
    background-image: url('./assets/img/down.jpg');
    background-size: cover;
    color: black;
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    text-align: center;
}
#left {
    background-image: url('./assets/img/left.jpg');
    background-size: cover;
    color: black;
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    text-align: center;
} 
#right {
    background-image: url('./assets/img/right.jpg');
    background-size: cover;
    color: black;
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    text-align: center;
}
@media (min-width: 800px){
    .controls {
        display: none;
    }
}


