body {
    background-color: #0D1828;
    height: 100vh;
    padding: 20px;
}

@font-face {
    font-family: 'Abidafih';
    src: url('./assets/fonts/adibafih/Adibafih.ttf');
}

.header {
    color: white;
    font-family: 'Abidafih';
    font-size: 24px;
    text-align: center;
}

.listItem {
    background-color: aliceblue;
    border-radius: 30px;
    margin: 20px;
}

.listItem:hover {
    background-color: #a0f8ff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px white;
    z-index: 35;
}

.menu {
    box-shadow: white;
    text-align: center;
}

.column.center {
    margin-top: 25vh;
}